.banner-side-image {
  background-image: url(../../../assets/side-banner.svg);
  background-size: cover;
  height: 100%;
}
.banner-side-image-1 {
  background-image: url(../../../assets/side-image-1.svg);
  background-size: cover;
  height: 100%;
}
