@import "../../../App.scss";

.feature-image {
  background: #edf2ee;
}
.feature-card {
  border-bottom: 1px solid $master-grey;
}
.feature-card:hover {
  border-bottom: 2px solid $master-color;
  .feature-image {
    background-color: $master-color;
  }
  .feature-icon {
    filter: invert(94%) sepia(100%) saturate(24%) hue-rotate(52deg)
      brightness(106%) contrast(105%);
  }
}
