.hero {
  grid-column-start: 1;
  grid-row-start: 2;
}
.main-carousal {
  height: 500px;
  width: 500px;
  background-color: red;
}
.thumbs-carousal {
  height: 500px;
  width: 100px;
  background-color: blue;
}
