.hero {
  grid-column-start: 1;
  grid-row-start: 2;
}
.main-carousal {
  height: 500px;
  width: 500px;
  background-color: red;
}
.thumbs-carousal {
  height: 500px;
  width: 100px;
  background-color: blue;
}
.slide-main {
  height: 100%;
  width: 100%;
}
.thumb-img {
  object-fit: cover;
}
.slide {
  height: 100%;
  width: 100%;
}
