@import "../../App.scss";
.homepage {
  display: grid;
  grid-template-rows: min-content 1fr;
  background-color: $master-white;
}
.banner-2 {
  background-image: url(../../assets/banner-product-details-page.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
