.header {
  position: sticky;
  top: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: #fff;
  z-index: 2;
}
.search-box {
  svg {
    fill: rgba(238, 81, 36, 1);
  }
  background-color: #f3f9fb;
  border-bottom: none !important;
}
.search-box-input {
  border-bottom: none !important;
}
