.scroll {
  position: relative;
  max-width: 100vw;
  height: 5%;
  min-height: 25px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  span {
    font-size: 24px;
    display: inline-block;
    min-width: 100%;
    margin: 0;
    padding: 0;
    color: white;
  }
}

.m-scroll {
  height: 100%;
  white-space: nowrap;
  animation: scrollText 10s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;
  span {
    font-size: 24px;
    display: inline-block;
    min-width: 100%;
    margin: 0;
    padding: 0;
    color: white;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
