@import "../../App.scss";

.hero {
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: white;
}
.main-carousal {
  height: 100%;
  width: min(40vw, 300px);
  background-color: white;
  object-fit: cover;
}
.thumbs-carousal {
  height: 60vh;
  width: min(40vw, 200px);
  background-color: white;
}
.slide-main {
  height: 100%;
  width: 100%;
}
.thumb-img {
  // object-fit: cover;
}
.slide {
  height: 100%;
  width: 100%;
  padding: 2rem;
}
.swiper-button-next,
.swiper-button-prev {
  text-rendering: auto;
}
