@import "../../App.scss";

.hero {
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: white;
}
.main-carousal {
  height: 100%;
  width: 556px;
  background-color: white;
  object-fit: cover;
}
.thumbs-carousal {
  height: 400px;
  width: 100%;
  background-color: white;
}
.slide-main {
  height: 100%;
  width: 100%;
}
.thumb-img {
  object-fit: cover;
}
.slide {
  height: 100%;
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  text-rendering: auto;
}
